/**
 * SETTINGS
 */
$row-width: 1000px !default;
$rem-base: 16px !default;
$base-font-size: 100% !default;
$base-line-height: 1.5 !default;

// 15px padding on default font size
$padding: .9375em !default;
$padding-sm: .9375em * .5 !default;

// sticky footer
$footer-height: 96px;

/**
 * COLORS
 */
$white: rgb(236, 240, 241);
$dark: rgb(44, 62, 80);
$grey: rgb(127, 140, 141);

$green: rgb(39, 174, 96);
$red: rgb(212, 91, 91);
$blue: rgb(41, 128, 185);

$twitter: rgb(119, 167, 220);
$facebook: rgb(69, 88, 151);
$gplus-color: rgb(215, 70, 52);

$linkColor: $red;
$linkHoverColor: $red;
/**

 * FONTS
 */
$sans: 'Source Sans Pro', sans-serif;
$serif: Georgia, serif;
$body: $serif;
$heading: $sans;

/**
 * OTHER
 */

$adminbar: 32px;

/**
 * PSEUDO MEDIA QUERIES
 */

$medium: 600px;
