$assets:        "../";
$light-blue:    #87aace;
$light-green:   #18cd6d;
$blue:          #004b96;
$header-blue:   #7fa5ca;
$non-focus:     #34495e;
$black:         #2c3e50;
$light-grey:    #c6c7c8;
$concrete: 		#80878d;
$cloud: 		#e1e9f1;

$box-shadow: $light-grey 2px 2px 4px;
$std-radius: 	0;
$font-fallback: Helvetica, Arial, sans-serif;
$fonts: 		Verdana, $font-fallback;
$heading-fonts: $fonts;