// add and change variables
$assets:        "../";
$box-shadow:    #ececec 2px 2px 4px;
$std-radius: 	0;
$font-fallback: Helvetica, Arial, sans-serif;
$fonts: 		Verdana, $font-fallback;
$heading-fonts: $fonts;

