@mixin sidebar {
	@media #{$large-up} {
		padding-top: 64px;
	}
	ul {
		list-style-type: none;
		padding-left: 0;
		padding-right: 0;
		li {
			a {
				@include transition(background-color .2s);
				background-color: #fff;
				color: $light-blue;
				display:inline-block;
				padding: 12px;
				margin-top: 6px;
				text-align: center;
				width: 100%;
				&:hover {
					@include transition-duration(.2s);
					background-color: $blue;
					color: $cloud;
				}
			}
			&.current {
				a {
					color: $blue;
					&:hover {
						background-color: #fff;
						cursor: default;
					}
					@media all and (max-width:#{upper-bound($small-range)} - 1px) {
						background-color: #fff;
						color: $blue;
						cursor: default;
						position: relative;
					}
				}
			}
		}
	}
}