header {
    text-align: center;
}

.adminbar {
    .nav {
        &.fixed {
            top: rem-calc(32);
        }
    }
}

.nav-fixed {
    @include media(700) {
        padding-bottom: rem-calc(102);
    }
}

.header-logo {
    padding: {
        top: $padding-sm;
        right: $padding * 1.5;
        left: $padding * 1.5;
    }
}

.nav {
    background-color: rgba(#fff, .9);
    width: inherit;
    min-height: rem-calc(50);
    padding: {
        left: $padding-sm;
        right: $padding-sm;
    }
    margin-bottom: rem-calc(40);
    &.fixed {
        @include media(700) {
            position: fixed;
            top: 0;
            max-width: $row-width;
            z-index: 10;
        }
    }
    .socials {
        @include display(flex);
        @include grid(100, true);
        @include justify-content(center);
        height: rem-calc(50px);
        @include media(680) {
            position: absolute;
            left: $padding;
            top: rem-calc(50);
        }
        @include media(1020) {
            top: 50%;
            margin-top: rem-calc(-25);
        }
    }
    .social {
        float: left;
        height: rem-calc(40);
        width: rem-calc(40);
        padding: $padding-sm;
        vertical-align: middle;
        img {
            vertical-align: inherit;
            width: 100%;
        }
        .link {
            padding: 3px;
        }
    }
}
    .main-nav {
        list-style-type: none;
        position: relative;
        padding-left: 0;
        min-height: rem-calc(50);
        margin: {
            top: rem-calc(12);
            bottom: rem-calc(12);
        }
    }

    .menu-item {
        display: inline-block;
        font: {
            family: "coelnische_current_frakturRg";
            size: rem-calc(40);
        }
        padding: {
            left: $padding;
            right: $padding;
        }
        margin-bottom: 0;
        &.search {
            position: absolute;
            right: 0;
            top: 0;
            @include media(680) {
                position: relative;
                float: right;
            }
            @include media(1020) {
                position: absolute;
            }
            &.showing {
                @include media(1200) {

                    .search-toggle-open {
                        display: inline-block;
                    }
                    .search-toggle-closed {
                        display: none;
                    }
                }
            }
        }
            .search-toggle-open {
                display: none;
            }

        a,
        label {
            color: #000;
        }

        label {
            &:hover {
                cursor: pointer;
            }
        }
    }
