$medium: rem-calc($medium);

html{
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font: {
        size: $rem-base;
        family: $body;
    }
    line-height: $base-line-height;
    color: $dark;
    position: relative;
    //padding: 0;
    padding-bottom: rem-calc($footer-height);
    margin: 0;
    @include media($medium) {
        font-size: 110%;
        line-height: 1.375;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: {
        weight: 300;
        family: $heading;
    }
    margin:{
        top: rem-calc(1em);
        bottom: .3em
    }
    text-transform: uppercase;
    & + p,
    & + ul,
    & + ol {
        margin-top: 0;
    }
}

h1 {
    font-size: rem-calc(32);
    @include media($medium) {
        font-size: rem-calc(38);
    }
}

h2 {
    font-size: rem-calc(24);
    @include media($medium) {
        font-size: rem-calc(28.8);
    }
}

h3 {
    font-size: rem-calc(22);
    @include media($medium) {
        font-size: rem-calc(24);
    }
}

h4 {
    font-size: rem-calc(20);
}

p,
ul,
ol {
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
        margin-top: 0;
    }
}

ul,
ol {
    padding-left: $padding * 2;
    li {
        line-height: 1.25;
        margin-bottom: $padding-sm;
    }
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}


a {
    @include transition-duration(.2s);
    text-decoration: none;
    color: $dark;
    outline: 0;
}

aside {
    @include grid(100);
}

section {
    @include grid(100);
}

.main {
    @include row();
}

.main-inner {
    @include grid(100);
    padding: $padding;
}

.to-top {
    display: block;
    position: fixed;
    right: $padding * 2;
    bottom: $padding * 2;
    max-height: rem-calc(40);
    max-width: rem-calc(40);
    height: 25vw;
    width: 25vw;
    a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        &::before {
            @include icon('angle-double-up');
            vertical-align: inherit;
            font-size: rem-calc(32);
            line-height: 40px;
        }
    }
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: rem-calc($rem-base);
    background-color: #efefef;
    text-align: center;
}
