/**
 * Foundation
 */
$include-html-grid-classes: false !default;
$include-xl-html-grid-classes: false !default;

$row-width: rem-calc(1000) !default;
$total-columns: 12 !default;
$column-gutter: rem-calc(30) !default;
$default-float: left !default;

$base-font-size: 100% !default;
$base-line-height: 1.5 !default;

$padding: .9375em !default;
$padding-sm: .9375em * .5 !default;

/**
 * custom
 */
$sky:   rgba(136, 182, 229, 1.0);
$white: rgba(236, 240, 241, 1.0);
$wheat: rgba(212, 204, 174, 1.0);

$dark: rgb(44, 62, 80);
$gray: lighten($quan, 30%);
$grey: $gray;

$facebook-color: rgba(59, 89, 152, 1.0);
$twitter-color:  rgba(0, 187, 245, 1.0);
$gplus-color:    rgba(215, 70, 52, 1.0);

$adminbar: 32px;

$green: rgba(39, 174, 96,1.0);
$red:   rgba(212, 91, 91, 1);
$blue:  rgba(41, 128, 185, 1);

$sans:  'Source Sans Pro', sans-serif;
$serif: Georgia, serif;


